{% extends 'base.html.twig' %}

{% block title %}
    {{ parent()}} Add
{% endblock %}

{% block body %}
    {{ form_start(immoForm) }}

    {{ form_widget(immoForm) }}
    <button>Add</button>

    {{ form_end(immoForm)}}
{% endblock %}