{% extends 'base.html.twig' %}

{% block title %}
    {{ parent()}} List
{% endblock %}

{% block body %}
    <h2>Immo List</h2>
    <section class="series-list">
        {% for immo in immos %}
            <article>
                <a href="{{ path('immo_show', {'id': immo.id}) }}">
                    <img src="{{ asset('img/immo/' ~ immo.picture) }}" alt="{{ immo.name }}">
                </a>
            </article>
        {% endfor %}
    </section>
{% endblock %}