{% extends 'base.html.twig' %}

{% block title %}
    {{ parent()}} AboutUs
{% endblock %}

{% block body %}
    <h2>About Us</h2>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Autem, culpa cum eveniet expedita fugiat mollitia nostrum odio quia quidem quo, sunt veniam. Architecto ducimus libero maiores nam nihil veniam voluptates.</p>
{% endblock %}