<header>
    <h1>
        <a class="headerLink" href="{{ path('main_home') }}">
            <img class="mainImg" src="{{ asset('img/site-icon.png') }}" alt="Bucket">
            <div class="title">Immo</div>
        </a>
    </h1>
    <hr>
    {% include("bodyStructures/menu/nav.html.twig") %}
    <hr>
</header>