<!DOCTYPE html>
<html>
<head>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{{ asset('css/normalize.css') }}">
    <link rel="stylesheet" href="{{ asset('css/app.css') }}">
    <link rel="icon" href="{{ asset('img/title-icon.png') }}">
    <meta charset="UTF-8">
    <title>{% block title %}Bucket List | {% endblock %}</title>

</head>
<body>
<div class="container">
    {% include("bodyStructures/header/header.html.twig") %}
    <main>
        {% block body %}{% endblock %}
    </main>
    {% include("bodyStructures/footer/footer.html.twig") %}
</div>
</body>
</html>
