<nav>
    <ul>
        <li>
            <a href="{{ path('main_home') }}"><b>Accueil</b></a>
            |
            <a href="{{ path('immo_list') }}"><b>WishList</b></a>
            |
            <a href="{{ path('immo_add') }}"><b>Add Immo</b></a>
            |
            <a href="{{ path('main_about_us') }}"><b>AboutUs</b></a>
        </li>
    </ul>
</nav>